<h2>Create New To-Do List</h2>
<%= form_for @list do |f| %>
<%= f.label :name, "List Title: " %>
  <p><%= f.text_field :name %></p>
<%= f.label :description, "Description: " %>
  <p><%= f.text_field :description %></p>
<%= f.submit "Submit" %>
<% end %>